/* ---- Mobile device max-width:  */
@media screen and (max-width: 576px) {
  body {
    padding: 0 10px;
  }
  /* Nave Menu */
  .nav-container {
    text-align: center;
    flex-direction: column;
  }
  .logo-container {
    margin: 0 auto;
    height: 40px;
    margin-bottom: 60px;
  }
  .logo-text {
    font-size: 2rem;
  }
  .logo-text > span {
    font-size: 2.5rem;
  }

  .nav-bar {
    flex-direction: column;
    gap: 36px;
  }

  /* Banner section */
  .banner {
    margin-bottom: 50px;
    background-image: none;
  }
  .banner-container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-hero-text {
    font-size: 5rem;
  }
  .banner-image {
    padding: 0 8%;
    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }
  .btn-primary {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}

/* ------- Small Tab max-width: 768px */
@media screen and (min-width: 576.2px) and (max-width: 768px) {
  body {
    padding: 0 15px;
  }

  /* Nave Menu */
  .nav-container {
    text-align: center;
    flex-direction: column;
  }
  .logo-container {
    margin: 0 auto;
    height: 50px;
    margin-bottom: 60px;
  }
  .logo-text {
    font-size: 2.5rem;
  }
  .logo-text > span {
    font-size: 3rem;
  }
  .nav-bar {
    flex-direction: column;
    gap: 36px;
  }

  /* Banner Section  */
  .banner {
    margin-bottom: 50px;
    background-image: none;
  }
  .banner-container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }

  .banner-image {
    padding: 0 8%;
    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }
}

/* large Tab Max-width: 992px */
@media screen and (min-width: 768.2px) and (max-width: 992px) {
  body {
    padding: 0 20px;
  }
  /* NAv Menu */
  .nav-container {
    text-align: center;
    flex-direction: column;
  }
  .logo-container {
    margin: 0 auto;
    height: 40px;
    margin-bottom: 60px;
  }
  .nav-bar {
    flex-direction: column;
    gap: 36px;
  }

  /* Banner Section */

  .banner {
    margin-bottom: 50px;
    background-image: none;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-hero-text {
    font-size: 4rem;
  }
  .banner-list-text-1,
  .banner-list-text-2,
  .banner-list-text-3 {
    font-size: 1rem;
  }
  .banner-image {
    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }
  .btn-primary {
    padding: 1rem 1.8rem;
    font-size: 1rem;
  }
}

/* Small Laptops max-width:122px */
@media screen and (min-width: 992.2px) and (max-width: 1128px) {
  body {
    padding: 0 20px;
  }
  /* Nav menu */
  .logo-text {
    font-size: 2.2rem;
  }
  .logo-text > span {
    font-size: 2.8rem;
  }
  .nav-bar {
    flex: 0 0 55%;
  }
  .follow-us {
    flex: 0 0 55%;
  }

  /* Banner Section */
  .banner {
    margin-bottom: 50px;
    background-image: none;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }

  .banner-image {
    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }



}
/* large laptop / Desktop  max-width: 1440px*/
@media screen and (min-width: 1128.2px) and (max-width: 1440px) {
  body {
    padding: 0 20px;
  }

  /* Banner Section */
  .banner {
    margin-bottom: 50px;
    background-image: none;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }

  .banner-image {
    padding: 0 4%;

    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }



}
