/* ---- Mobile device max-width:  */
@media screen and (max-width: 576px) {
  /* Nave Menu */
  .nav-container {
    margin: 0 10px;
    text-align: center;
    flex-direction: column;
  }
  .logo-container {
    margin: 0 auto;
    height: 40px;
    margin-bottom: 60px;
  }
  .logo-text {
    font-size: 2rem;
  }
  .logo-text > span {
    font-size: 2.5rem;
  }

  .nav-bar {
    flex-direction: column;
    gap: 36px;
  }

  /* Banner section */
  .banner {
    background-image: none;
  }
  .banner-container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-hero-text {
    font-size: 5rem;
  }
  .banner-image {
    padding: 0 8%;
    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }
  .btn-primary {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  /*----- Main Content Section Start Here----- */
  /* We are gammer Section */
  .we-are-gamer-banner {
    background: none;
    padding: 0;
  }
  .gamer-banner-container {
    width: 100%;
    flex-direction: column;
  }
  .gamer-banner-image {
    padding: 0 8%;
  }
  .gamer-banner-content-container {
    flex: 0 0 auto;
    text-align: center;
    padding: 0 4%;
  }
  .gamer-banner-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .gamer-banner-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0 8%;
  }
  .our-purpose {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .our-purpose > span {
    font-size: 1.2rem;
  }
  /*  game Funy Video Section */
  .video-contents {
    justify-content: center;
  }

  /* Play Instant + play Online Section  */
  .play-instant-section-container,
  .play-online-section-container {
    margin-bottom: 100px;
    padding: 0 5%;
  }
  .play-instant-section-content {
    flex-direction: column;
    gap: 50px;
  }
  .play-online-section-content {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .play-instant-section-content,
  .play-online-section-content {
    text-align: center;
  }
  .play-instant-text-content,
  .play-online-text-content {
    text-align: center;
    flex: 0 0 auto;
  }
  .play-online-title br {
    display: none;
  }
  .play-instant-description, .play-online-description {
    padding: 0 5%;
  }
  .play-instant-images,
  .play-online-images {
    flex: 0 0 auto;
  }
  .instant-image-1,
  .online-image-1 {
    width: 60%;
  }
  .instant-image-2 {
    width: 25%;
    left: 10%;
  }

  .online-image-2 {
    width: 25%;
    right: 10%;
  }

/* Career Section */
.careers-section-container {
  background-image: none;
  padding: 50px 0;
  margin-bottom: 20px;
}

.careers-section-content {
  padding: 0 4%;
  flex-direction: column;
  row-gap: 50px;
}
.careers-section-title {
  width: fit-content;
  margin: 0 auto;
}

.column-1, .column-2 {
  font-size: 0.8rem;
}
.career-section-title-description {
  font-size: 0.8rem;
  text-align: justify;
}
.career-button {
  width: fit-content;
  margin: 0 auto;
}
/* catagories Section */
.catagories-container{
  margin-bottom: 20px;
}
.catagory-items {
  height: auto;
}


}

/* ------- Small Tab max-width: 768px */
@media screen and (min-width: 576.2px) and (max-width: 768px) {
  /* Nave Menu */
  .nav-container {
    text-align: center;
    flex-direction: column;
  }
  .logo-container {
    margin: 0 auto;
    height: 50px;
    margin-bottom: 60px;
  }
  .logo-text {
    font-size: 2.5rem;
  }
  .logo-text > span {
    font-size: 3rem;
  }
  .nav-bar {
    flex-direction: column;
    gap: 36px;
  }

  /* Banner Section  */
  .banner {
    margin-bottom: 50px;
    background-image: none;
  }
  .banner-container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    margin-left: 10%;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }

  .banner-image {
    padding: 0 8%;
    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }
  /*----- Main Content Section Start Here----- */

  /* We are gammer Section */
  .we-are-gamer-banner {
    background: none;
    padding: 0;
  }
  .gamer-banner-container {
    width: 100%;
    flex-direction: column;
  }
  .gamer-banner-image {
    padding: 0 8%;
  }
  .gamer-banner-description {
    padding: 0 8%;
  }
  .gamer-banner-content-container {
    flex: 0 0 auto;
    text-align: center;
    padding: 0 5%;
  }

  /*  game Funy Video Section */
  .video-contents {
    justify-content: center;
  }
  /* Play Instant + play Online Section  */
  .play-instant-section-container, .play-online-section-container {
    margin-bottom: 100px;
    padding: 0 6%;
  }
  .play-instant-section-content {
    flex-direction: column;
    gap: 50px;
  }
  .play-online-section-content {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .play-instant-section-content,
  .play-online-section-content {
    text-align: center;
  }
  .play-instant-text-content,
  .play-online-text-content {
    text-align: center;
    flex: 0 0 auto;
  }
  .play-online-title br {
    display: none;
  }
  .play-instant-description, .play-online-description {
    padding: 0 7%;
  }
  .play-instant-images,
  .play-online-images {
    flex: 0 0 auto;
  }
  .instant-image-1,
  .online-image-1 {
    width: 70%;
  }
  .instant-image-2 {
    width: 25%;
    left: 5%;
  }

  .online-image-2 {
    width: 25%;
    right: 5%;
  }

  /* Career Section */
.careers-section-container {
  background-image: none;
  padding: 50px 0;
  margin-bottom: 50px;
}

.careers-section-content {
  padding: 0 4%;
  flex-direction: column;
  row-gap: 50px;
}
.careers-section-title {
  width: fit-content;
  margin: 0 auto;
}

.column-1, .column-2 {
  font-size: 1rem;
}
.career-section-title-description {
  font-size: 1rem;
  text-align: justify;
}
.career-button {
  width: fit-content;
  margin: 0 auto;
}
/* Cetagories Section */
.catagories-container {
  margin-bottom: 50px;
}


}

/* large Tab Max-width: 992px */
@media screen and (min-width: 768.2px) and (max-width: 992px) {
  /* NAv Menu */
  .nav-container {
    text-align: center;
    flex-direction: column;
  }
  .logo-container {
    margin: 0 auto;
    height: 40px;
    margin-bottom: 60px;
  }
  .nav-bar {
    flex-direction: column;
    gap: 36px;
  }

  /* Banner Section */

  .banner {
    min-height: auto;
    background-image: none;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-hero-text {
    font-size: 4rem;
  }
  .banner-list-text-1,
  .banner-list-text-2,
  .banner-list-text-3 {
    font-size: 1rem;
  }
  .banner-image {
    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }
  .btn-primary {
    padding: 1rem 1.8rem;
    font-size: 1rem;
  }
  /*----- Main Content Section Start Here----- */
  /* We are gamer Section */
  .gamer-banner-image {
    flex: 0 0 50%;
  }
  .gamer-banner-content-container {
    flex: 0 0 50%;
    text-align: right;
    padding: 0 5%;
  }
  .gamer-banner-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .gamer-banner-description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .our-purpose {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .our-purpose > span {
    font-size: 1.2rem;
  }
  /* game Funy Video Section */
  .video-contents {
    justify-content: center;
  }
  /* Play Instant + play Online Section  */
  .play-instant-section-container, .play-online-section-container {
    margin-bottom: 100px;
    padding: 0 8%;
  }
  .play-instant-section-content {
    flex-direction: column;
    gap: 50px;
  }
  .play-online-section-content {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .play-instant-section-content,
  .play-online-section-content {
    text-align: center;
  }
  .play-instant-text-content,
  .play-online-text-content {
    text-align: center;
    flex: 0 0 auto;
  }
  .play-online-title br {
    display: none;
  }
  .play-instant-description, .play-online-description {
    padding: 0 8%;
  }
  .play-instant-images,
  .play-online-images {
    flex: 0 0 auto;
  }
  .instant-image-1,
  .online-image-1 {
    width: 70%;
  }
  .instant-image-2 {
    width: 25%;
    left: 5%;
  }

  .online-image-2 {
    width: 25%;
    right: 5%;
  }

   /* Career Section */
.careers-section-container {
  background-image: none;
  padding: 50px 0;
  margin-bottom: 50px;
}

.careers-section-content {
  padding: 0 4%;
  flex-direction: column;
  row-gap: 50px;
}
.careers-section-title {
  width: fit-content;
  margin: 0 auto;
}


.career-section-title-description {
  text-align: justify;
}
.career-button {
  width: fit-content;
  margin: 0 auto;
}
/* Cetagories Section */
.catagories-container {
  margin-bottom: 50px;
}

}

/* Small Laptops max-width:122px */
@media screen and (min-width: 992.2px) and (max-width: 1128px) {
  /* Nav menu */
  .nav-container {
    margin: 0 15px;
  }
  .logo-text {
    font-size: 2.2rem;
  }
  .logo-text > span {
    font-size: 2.8rem;
  }
  .nav-bar {
    flex: 0 0 55%;
  }
  .follow-us {
    flex: 0 0 55%;
  }

  /* Banner Section */
  .banner {
    min-height: auto;
    background-image: none;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 5%;
  }

  .banner-image {
    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }
  /* We are Gamer Section */

  .gamer-banner-image {
    flex: 0 0 50%;
  }

  .gamer-banner-content-container {
    flex: 0 0 50%;
    text-align: right;
    padding: 0 5%;
  }
  .our-purpose {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .our-purpose > span {
    font-size: 1.5rem;
  }
  /* game Funy Video Section */
  .video-contents {
    justify-content: center;
  }
  /* Play Instant + play Online Section  */
  .play-instant-section-container, .play-online-section-container {
    margin-bottom: 120px;
    padding: 0 8%;
  }

  .play-instant-title, .play-online-title {
    font-size: 2.2rem;
  }
  
  .instant-image-2 {
    width: 40%;
    left: -20%;
  }
  .online-image-2 {
    width: 40%;
    right: -20%;
  }
/* Careers Section */
  .careers-section-container {
    background-image: none;
    padding: 50px 0;
    margin-bottom: 0px;
  }
  
  .careers-section-content {
    padding: 0 4%;
    flex-direction: column;
    row-gap: 50px;
  }
  .careers-section-title {
    width: fit-content;
    margin: 0 auto;
  }
  
  
  .career-section-title-description {
    text-align: justify;
  }
  .career-button {
    width: fit-content;
    margin: 0 auto;
  }

  /* catagories Section */
  margin-bottom: 50px;


}
/* large laptop / Desktop  max-width: 1440px*/
@media screen and (min-width: 1128.2px) and (max-width: 1440px) {
  .nav-container {
    margin: 0 20px;
  }
  /* Banner Section */
  .banner {
    min-height: auto;
    background-image: none;
  }
  .banner-content-container {
    width: 100%;
    flex: 0 0 50%;
    padding: 50px 0px;
    background-image: url(../images/bg_banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding: 0 8%;
  }

  .banner-image {
    padding: 0 4%;

    flex: 0 0 50%;
  }
  .banner-image > img {
    width: 100%;
  }

  /*----- Main Content Section Start Here----- */
  /* We are gammer Section */
  .gamer-banner-image {
    flex: 0 0 50%;
  }

  .gamer-banner-content-container {
    flex: 0 0 50%;
    text-align: right;
    padding: 0 5%;
  }

  /* game Funy Video Section */
  .video-contents {
    justify-content: center;
  }
   /* Play Instant + play Online Section  */
   .play-instant-section-container, .play-online-section-container {
    margin-bottom: 140px;
    padding: 0 6%;
  }

  .play-instant-title, .play-online-title {
    font-size: 3rem;
  }
  .play-instant-text-content {
    flex: 0 0 35%;
  }
  
  .instant-image-2 {
    width: 40%;
    left: -20%;
  }
  .online-image-2 {
    width: 40%;
    right: -20%;
  }
  /* Careeer Section */
  .careers-section-container {
    margin-bottom: 0px;
  }
  .careers-section-content {
    padding: 13px 5%;
  }
/* Cetagoreis Section */
.catagories-container {
  margin-bottom: 20px;
}

}
