:root {
  --bg-color-pink: #ff42a5;
  --text-linear-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --button-bg-blue: #4ec5f7;
  --text-description: #534c64;
  --text-black: #0b0223;
  --text-white: #fff;
  --footer-bottom-text: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* ----- Header Section Start Here ----- */

/* Nav Menu Start*/
.nav-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2.3rem 0;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.logo {
  width: 86px;
  height: 40px;
}
.logo-text {
  color: var(--text-black);
  font-size: 2.8rem;
  font-weight: 700;
}
.logo-text > span {
  color: var(--bg-color-pink);
  font-size: 3.2rem;
}

.nav-bar {
  flex: 0 0 50%;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar li {
  list-style: none;
}
.follow-us {
  flex: 0 0 50%;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow-us p {
  margin-right: 1.5rem;
}
.ic-youtube {
  margin-right: 1rem;
}
/* Nav Menu End */

/* Banner Section Start */
.banner {
  max-width: 1920px;
  min-height: 700px;
  margin: 0 auto;
  background-image: url(../images/bg_banner.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.banner-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-black);
}

.banner-hero-text {
  font-size: 6rem;
  font-weight: 800;
  color: transparent;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
}
.banner-list-text-1,
.banner-list-text-2,
.banner-list-text-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.25rem;
  margin: 1rem 0;
}
.banner-button {
   margin-top: 2.56rem;
   display: flex;
   gap: 1.5rem;
}
.banner-button > a {
   text-decoration: none;
}
.btn-primary {
   padding: 1.31rem 2.5rem;
   font-size: 1.25rem;
   font-weight: 600;
   color: var(--text-white);
   text-transform: uppercase;
   border: none;
   border-radius: 3rem;
}

.banner-button-1 {
   background-color: var(--bg-color-pink);
}
.banner-button-2 {
   background-color: var(--button-bg-blue);
}
/* Banner Section End */
